// 믹스인(코드 섞어 생성한 것을 붙일 수 있도록...)
// @mixin       =
// @include     +
// =transition($param: all 0.4s)
@mixin transition(
  $property: all,
  $duration: 400ms,
  $easing-function: linear,
  $delay: null
) {
  -webkit-transition: $property $duration $easing-function $delay;
  -moz-transition: $property $duration $easing-function $delay;
  -o-transition: $property $duration $easing-function $delay;
  transition: $property $duration $easing-function $delay;
}

@mixin clearfix($support-ie: true) {
  @extend %clearfix;
  @if $support-ie {
    .lt-ie8 & {
      zoom: 1;
    }
  }
}

@mixin multi-background-image($bgs...) {
  background-image: $bgs;
}

@mixin border-radius ($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin background-origin ($origin: padding-box) {
  -webkit-background-origin: $origin;
  -moz-background-origin: $origin;
  background-origin: $origin;
}

@mixin background-clip ($clip: padding-box) {
  -webkit-background-clip: $clip;
  -moz-background-clip: $clip;
  background-clip: $clip;
}

@mixin circle ($diameter: 100px, $bg-color: #000) {
  width: $diameter;
  height: $diameter;
  background: $bg-color;
  @include border-radius($diameter/2);
  @include background-clip;
}

@mixin size($width, $height: null) {
  width: $width;
  height: $height;
}

@mixin position($position, $args) {
  position: $position;

  @if $args != null {
    @each $dir in top, left, bottom, right, z-index {
      $i: index($args, $dir);

      @if $i {
        #{$dir}: nth($args, $i + 1);
      }
    }
  }
}

// --------------------------------
// 단축 믹스인
// --------------------------------

@mixin static {
  @include position(static, null);
}

@mixin absolute($args: null) {
  @include position(absolute, $args);
}

@mixin relative($args: null) {
  @include position(relative, $args);
}

@mixin fixed($args: null) {
  @include position(fixed, $args);
}