<!DOCTYPE html>
<html lang="ko-KR" data-ng-app>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>앵귤러 이해를 위한 실습 Part 3</title>
  <style>
  pre {
    padding: 1rem;
    background: #ececec;
    border-radius: 4px;
  }
  </style>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body data-ng-init="
order_reverse = true;
people = [
  {
    'name'    : 'tomy',
    'age'     : 23,
    'mail'    : 'tomy@study.com',
    'birthday': '2001-09-02',
    'has-money': 5300,
    'picture' : {
      'width': 200,
      'height': 200,
      'src': 'http://placehold.it/220x220/34c0ff/fff/?text=tomy'
    }
  },
  {
    'name'    : 'sunny',
    'age'     : 32,
    'mail'    : 'SUNNY@STUDY.COM',
    'birthday': '1982-02-17',
    'has-money': 10200,
    'picture' : {
      'width': 200,
      'height': 200,
      'src': 'http://placehold.it/220x220/7045cf/fff/?text=sunny'
    }
  },
  {
    'name'    : 'zeus',
    'age'     : 61,
    'mail'    : 'zeus@study.com',
    'birthday': '1109-01-01',
    'has-money': 1000000,
    'picture' : {
      'width': 200,
      'height': 200,
      'src': 'http://placehold.it/220x220/3a0099/fff/?text=zeus'
    }
  },
  {
    'name'    : 'Aron',
    'age'     : 18,
    'mail'    : 'aron@study.com',
    'birthday': '1998-11-21',
    'has-money': 121900,
    'picture' : {
      'width': 200,
      'height': 200,
      'src': 'http://placehold.it/220x220/3a0099/fff/?text=aron'
    }
  }
];
">

<button type="button" data-ng-click="order_reverse = !order_reverse">나이 순 정렬 토글</button>

<ol class="people-list">
  <!-- 시작: people.length 개수만큼 반복하여 <li> 템플릿 완성 -->
  <!-- orderBy 필터 -->
  <li data-ng-repeat="person in people | orderBy: 'age':order_reverse">
  <!-- uppercase 필터 -->
    <div data-ng-bind="person.name | uppercase"></div>
    <div data-ng-bind="person.age"></div>
    <!-- lowercase 필터 -->
    <div data-ng-bind="person.mail | lowercase"></div>
    <!-- date 필터 -->
    <div data-ng-bind="person.birthday | date:'yyyy년 MM월 dd일'"></div>
    <!-- angular 필터 (|) -->
    <!-- Currency:Symbol:FrectionSize -->
    <!-- <div data-ng-bind="person['has-money'] | currency:'EURO(€) ':0"></div> -->
    <div>{{ person['has-money'] | number:0 }}원</div>
    <div>
      <!-- ngSrc: Lazy Loading (게으른 로딩) -->
      <img
        data-ng-src="{{ person.picture.src }}"
        alt="{{ person.name }}"
        width="{{ person.picture.width }}"
        height="{{ person.picture.height }}"
      >
    </div>
  </li>
  <!-- 종료: people.length 개수만큼 반복하여 <li> 템플릿 완성 -->
</ol>

<pre>
<code>
<!-- JSON 필터 -->
{{ people | json }}
</code>
</pre>

</body>
</html>