<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>DOM API - insertBefore 활용</title>
  <link rel="stylesheet" href="../css/dom-api.css">
  <script src="../../LIBRARY/js/helper.js"></script>
</head>
<body>

  <button
    type="button"
    class="insert-action-button">insert before target node</button>

  <div class="parent">
    <!-- 삽입 목표 위치 -->
    <p class="target">Lorem ipsum dolor.</p>
  </div>

  <h1 class="insert">Insert Node</h1>

  <span class="tester">tester</span>

<script src="../js/dom-api.js"></script>
</body>
</html>
