<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>문서객체모델 + 헬퍼 함수</title>
  <link rel="stylesheet" href="../css/dom-api-tester.css">
  <script src="../../LIBRARY/js/helper.js"></script>
</head>
<body>

  <div class="button-set" role="group">
    <button type="button" class="append-button">Append</button>
    <button type="button" class="prepend-button">prepend</button>
    <button type="button" class="before-button">before</button>
    <button type="button" class="after-button">after</button>
    <button type="button" class="remove-button">remove</button>
    <button type="button" class="replace-button">replace</button>
  </div>

  <h1 class="replaced-h1">DOM API 완전 정복할 수 있을까? :-(</h1>

  <div class="wrapper">
    <ul class="tester">
      <li>item-01</li>
      <li>item-02</li>
    </ul>
    <ul class="repository">
      <li>repo-1</li>
      <li>repo-2</li>
      <li>repo-3</li>
      <li>repo-4</li>
      <li>repo-5</li>
      <li>repo-6</li>
    </ul>
  </div>

<script src="../js/dom-api-tester.js"></script>
</body>
</html>
