/* .carousel, .banner-container, .products-tab, .about-us, .from-the-blog, .footer */

/*.carousel {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.carousel.fade-in {
  opacity: 1;
}*/

.content-block {
  position: relative;
  z-index: 100;
  /*background: #fff;*/
}

.banner-container {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}
.banner-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.products-tab {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}
.products-tab.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.about-us {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}
.about-us.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.from-the-blog {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}
.from-the-blog.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  position: relative;
}

.footer > * {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(50px);
}
.footer > *.fade-in {
  opacity: 1;
  transform: translateY(0);
}