// Normalize Module
@import normalize

// ------------------------------------------------
// Configuration
// ------------------------------------------------

%align-hv-center
  display: flex
  justify-content: center
  align-items: center

$content-bg: #34c0ff
$content-width: 300px
$content-height: 400px

// ------------------------------------------------

body.demonstration
  min-height: 100vh
  @extend %align-hv-center

// UI Carousel Component Style
.ui-carousel
  border: 4px solid #bebebe
  height: $content-height
  overflow: auto
  .js &
    overflow: hidden
  .ui-carousel--content
    @extend %align-hv-center
    width: $content-width
    height: $content-height
    color: #fff
    @for $i from 1 through 6
      &:nth-child(#{$i})
        background: mix($content-bg, #454545, 15%*$i)