<div class="col-md-8 col-md-offset-2">
  <div class="bipan-detail-panel panel panel-default">
    <div class="panel-heading">
      {{mode}}
      <button
        data-ng-hide="mode === 'Create'"
        data-ladda="share_data.is_deleting"
        data-ng-click="remove()"
        class="btn btn-sm btn-default pull-right">Delete</button>
    </div>
    <div class="panel-body">
      <form
        class="form-horizontal"
        novalidate
        data-ng-submit="save()">
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">NAME</label>
          <div class="col-sm-9">
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="User Name"
              data-ng-model="share_data.selected_person.name">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">EMAIL</label>
          <div class="col-sm-9">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="user_id@domail.com"
              data-ng-model="share_data.selected_person.email">
          </div>
        </div>
        <div class="form-group">
          <label for="sex" class="col-sm-3 control-label">SEX</label>
          <div class="col-sm-9">
            <select
              name="sex"
              id="sex"
              class="form-control"
              data-ng-model="share_data.selected_person.sex">
              <option value="" disabled selected>Your Sex</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="photo" class="col-sm-3 control-label">PHOTO</label>
          <div class="col-sm-9">
            <input
              type="text"
              name="photo"
              id="photo"
              class="form-control"
              placeholder="user photo image path"
              data-ng-model="share_data.selected_person.photo">
          </div>
        </div>
        <div class="form-group">
          <label for="birthdate" class="col-sm-3 control-label">BIRTHDATE</label>
          <div class="col-sm-9">
            <input
              type="text"
              name="birthdate"
              id="birthdate"
              class="form-control"
              placeholder="1975-11-23"
              data-ng-model="share_data.selected_person.birthdate">
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-3 control-label">ADDRESS</label>
          <div class="col-sm-9">
            <input
              type="text"
              name="address"
              id="address"
              class="form-control"
              placeholder="User Address"
              data-ng-model="share_data.selected_person.address">
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-3 control-label">CITY</label>
          <div class="col-sm-9">
            <input
              type="text"
              name="city"
              id="city"
              class="form-control"
              placeholder="User City"
              data-ng-model="share_data.selected_person.city">
          </div>
        </div>
        <div class="form-group">
          <label for="country" class="col-sm-3 control-label">COUNTRY</label>
          <div class="col-sm-9">
            <input
              type="text"
              name="country"
              id="country"
              class="form-control"
              placeholder="User Country"
              data-ng-model="share_data.selected_person.country">
          </div>
        </div>
        <!-- <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button
              type="button"
              data-ladda="share_data.is_creating"
              data-ng-click="create()"
              class="btn btn-primary">Create</button>
          </div>
          <div class="btn-group" role="group"> -->
            <button
              type="submit"
              data-ladda="mode === 'Edit' ? share_data.is_saving : share_data.is_creating"
              class="btn btn-default btn-block">Save</button>
          <!-- </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
