<div class="col-md-12">
  <div class="bipan-table-container">
    <div
      class="row"
      data-infinite-scroll="loadMore()"
      data-infinite-scroll-immediate-check="false"
      data-infinite-scroll-distance="1"
    >
      <div
        data-y-card
        data-ng-repeat="person in share_data.people"
        data-user="person"></div>
    </div>
    <!-- <table
      data-infinite-scroll="loadMore()"
      data-infinite-scroll-immediate-check="false"
      data-infinite-scroll-distance="1"
      class="bipan-table table table-striped">
      <caption>Bipan People List</caption>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Photo</th>
        <th scope="col">Name
          <div role="group" class="sort-title btn-group btn-group-xs">
            <button
              data-ng-click="order='name'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet"
              aria-label="Ascending Name"></button>
            <button
              data-ng-click="order='-name'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Name"></button>
          </div>
        </th>
        <th scope="col">Email
          <div role="group" class="sort-category btn-group btn-group-xs">
            <button
              data-ng-click="order='email'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet"
              aria-label="Ascending Email"></button>
            <button
              data-ng-click="order='-email'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Email"></button>
          </div>
        </th>
        <th scope="col">Country
          <div role="group" class="sort-category btn-group btn-group-xs">
            <button
              data-ng-click="order='country'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet"
              aria-label="Ascending Country"></button>
            <button
              data-ng-click="order='-country'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Country"></button>
          </div>
        </th>
        <th scope="col">Birthdate
          <div role="group" class="sort-year btn-group btn-group-xs">
            <button
              data-ng-click="order='birthdate'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet"
              aria-label="Ascending Birthdate"></button>
            <button
              data-ng-click="order='-birthdate'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Birthdate"></button>
          </div>
        </th>
        <th scope="col">City
          <div role="group" class="sort-director btn-group btn-group-xs">
            <button
              data-ng-click="order='city'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet"
              aria-label="Ascending City"></button>
            <button
              data-ng-click="order='-city'"
              type="button"
              class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending City"></button>
          </div>
        </th>
      </tr>
      <tr
        data-ng-repeat="person in share_data.people"
        data-ng-class="{'info': person.email === share_data.selected_person.email}"
        data-ui-sref="edit({'email': person.email})"
        >
        <td><a href data-ui-sref="edit({'email': person.email})">{{$index + 1 | readingZero}}</a></td>
        <td>
          <a href data-ui-sref="edit({'email': person.email})">
            <img
              src="//yamoo9.net/blank1x1.gif"
              data-ng-src="{{person.photo | defaultImage}}"
              alt="{{person.name}}"
              title="{{person.name}}">
          </a>
        </td>
        <td><a href data-ui-sref="edit({'email': person.email})">{{person.name}}</a></td>
        <td><a href data-ui-sref="edit({'email': person.email})">{{person.email}}</a></td>
        <td><a href data-ui-sref="edit({'email': person.email})">{{person.country}}</a></td>
        <td><a href data-ui-sref="edit({'email': person.email})">{{person.birthdate | date:'longDate'}}</a></td>
        <td><a href data-ui-sref="edit({'email': person.email})">{{person.city}}</a></td>
      </tr>
      <tr data-ng-show="share_data.people.length === 0 && !share_data.is_loading">
        <td colspan="6">
          <div class="alert alert-warning" role="alert">
            <p class="text-center">'{{search}}'와 일치하는 사람 정보를 찾을 수 없습니다.</p>
          </div>
        </td>
      </tr>
    </table> -->

    <!-- Element Type -->
    <!-- <data-y-spinner></data-y-spinner> -->

    <!-- Attribute Type -->
    <div
      data-y-spinner
      data-is-loading="share_data.is_loading"
      data-message="Loading....">
      <!-- <span>로딩 중....</span> -->
    </div>

    <!-- Class Attribute Type -->
    <!-- <div class="y-spinner"></div> -->

  </div>
</div>
