<form class="bipan-search navbar-form navbar-left">
  <div class="form-group">
    <!-- <span class="glyphicon glyphicon-search" aria-label="Search"></span> -->
    <label for="search-everything">Everything</label>
    <input
      data-ng-model="search"
      data-ng-model-options="{'debounce':300}"
      type="text"
      class="input-sm form-control"
      id="search-everything"
      placeholder="Search Person Info.">
  </div>
  <div class="form-group">
    <select class="input-sm form-control" data-ng-model="order">
      <option value="name">Name (ASC)</option>
      <option value="-name">Name (DESC)</option>
      <option value="email">Email (ASC)</option>
      <option value="-email">Email (DESC)</option>
      <option value="country">Country (ASC)</option>
      <option value="-country">Country (DESC)</option>
      <option value="birthdate">Birthdate (ASC)</option>
      <option value="-birthdate">Birthdate (DESC)</option>
      <option value="city">City (ASC)</option>
      <option value="-city">City (DESC)</option>
    </select>
  </div>
</form>
