<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>Vue JS: </title>
  <style>
    body {margin: 4rem;}
    [v-cloak]{display: none}
  </style>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div id="app">

    <!-- input field -->
    <div class="form-area">
      <label for="add-todo__item">Register Todo Item:</label>
      <input id="add-todo__item" type="text">
      <button type="button">Add</button>
    </div>

    <hr>

    <!-- list view -->
    <h3>Todo List</h3>
    <ul class="todo-list" v-cloak>
      <li v-for="task of todos">
        <label>
          <input type="checkbox" v-model="task.done">
          {{ task.desc }}
        </label>
      </li>
    </ul>

  </div>

<script>
(function(global, Vue){
  'use strict';

  var data = {
    todos: [
      {
        done: false,
        desc: 'Learn Vue JS Instance'
      }, {
        done: false,
        desc: 'Learn jQuery Plugin Develop'
      }
    ]
  };

  var options = {
    // mount될 요소 선택자 설전
    el: '#app',
    // 데이터 바인딩
    data: data
  };

  global.vm = new Vue(options);

})(window, window.Vue);

(function(global){
  'use strict';

  // global.vm <=== Vue Instance
  // vm.$data.todos.push({done:false, desc:사용자 입력 값});

  var form_area   = global.document.querySelector('.form-area');
  var form_input  = form_area.querySelector('input');
  var form_button = form_area.querySelector('button');

  form_input.addEventListener('keyup', function(e) {
    if ( e.keyCode === 13 ) {
      var input = e.target.value.trim();
      if (!input) { console.error('todo를 입력해주세요.'); return; }
      vm.$data.todos.push({done:false, desc:input});
    }
  });

  form_button.addEventListener('click', function() {
    var input = form_input.value.trim();
    if (!input) { console.error('todo를 입력해주세요.'); return; }
    vm.$data.todos.push({done:false, desc:input});
  });

})(window);
</script>
</body>
</html>
