// 의존 function 모듈
@import "functions/percent";

// * --------------------------------
// * 목록 초기화
%reset-list-group ul,
%reset-list-group ol,
%reset-list,
%reset-list {
  margin-top:    0;
  margin-bottom: 0;
  padding-left:  0;
  list-style:    none;
}

// * --------------------------------
// * 이미지 하단 공백 제거
%rm-img-blank {
  vertical-align: bottom;
}

// * --------------------------------
// * 이미지 옆에 위치한 요소 정렬
%align-aside-img img + * {
  overflow: hidden;
}

// * --------------------------------
// * 반응형 웹 미디어
%rwd-media {
  width: 100%;
  height: auto;
}

%rwd-media-ratio {
  width: 100%;
  height: 0;
  background-size: cover;
  background-position: center center;
}

%rwd-media-4-3 {
  @extend %rwd-media-ratio;
  padding-bottom: percent(3,4);
}
%rwd-media-16-9 {
  @extend %rwd-media-ratio;
  padding-bottom: percent(9,16);
}

%rwd-media-21-9 {
  @extend %rwd-media-ratio;
  padding-bottom: percent(9,21);
}
