<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>Node Information</title>
  <link rel="stylesheet" href="../css/node-info.css">
</head>
<body>

  <div id="page">
    <div class="container" title="Bootstrap Style Grid System">
      <div class="row" role="group">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h1 data-heading-level="1">
            <!-- <a aria-describedby="css-map-desc" href="../map/node-info.css.map">node-info.css.map</a> -->
            <a
              title="open new tab window"
              target="_blank"
              href="http://fastcampus.com/">FAST CAMPUS</a>
          </h1>
          <p class="a11y-hidden" id="css-map-desc">Our Class is Awesome.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- <audio src="../media/song.mp3" autoplay></audio> -->
    <!-- <ul>
      <li>hi</li>
      <li>hi</li>
      <li>hi</li>
      <li>hi</li>
    </ul> -->
  </div>
  <div class="container"></div>

<!-- <script src="../js/node-info.js"></script> -->
<script src="../js/dom-method.js"></script>
</body>
</html>
