/*! people.css © yamoo9.net, 2016 */
@charset "utf-8";

/* 웹 브라우저 기본 스타일 덮어쓰기 */
body {
  margin: 0;
}

/* 문서에서 대상을 선택한다 */
/* 선택자가 필요 */
article {
  /* 선택된 대상을 스타일링 */
  /* 속성: 값; */
  /* 테두리 디자인: 두께 모양 색상 */
  border: 1px solid #454545;
}
article h2 {
  font-weight: 100;
  color: #cf966e;
}
/* img요소는 inline-block 요소 */
/* inline-block 요소는 margin-top 같은 값이 적용된다. */
article img {
  margin-top: 100px;
  margin-bottom: 100px;
}

article p {
  line-height: 30px;
  color: #4d4640;
}