/*! 03-fixed-positon.css Ãƒâ€šÃ‚Â© yamoo9.net, 2016 */

::-moz-selection {
  background: hsla(197, 79%, 13%, 0.8);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: hsla(197, 79%, 13%, 0.8);
  color: #fff;
  text-shadow: none;
}

body {
  font-family: "Spoqa Han Sans";
  font-weight: 200;
  background:
      linear-gradient(-45deg, transparent 50%, hsla(0,50%,0%,0.5) 51%, transparent 52%),
      linear-gradient(45deg, transparent 50%, hsla(0,50%,0%,0.5) 51%, transparent 52%),
      radial-gradient(circle at center 20%, transparent, #000),
      url("../images/Rain-City.jpg") no-repeat center;
  background-size:
      30px 30px,
      30px 30px,
      100%,
      cover;
  color: #fff;
  text-shadow: 0 0 5px hsla(0, 0%, 0%, 0.75);
}

#page-header-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.7em 0 1.7em;
  background: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(0, 0, 0, 0));
  text-align: center;
  color: #ffffff;
  text-shadow: 0 8px 10px rgba(23, 22, 22, 0.2);
  transition: all 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

main {
  margin: 8em 20% 3em;
}

#page-header-bar h4 {
  text-shadow: none;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: -2px -2px 3px rgba(113, 232, 220, 0.67), 2px 2px 3px rgba(232, 135, 113, 0.67);
}

#page-footer-bar {
  background: rgba(0, 0, 0, 0.67);
  text-align: center;
  padding: 1em;
}

#page-footer-bar h4 {
  margin-bottom: 0;
}