// @import url("");
@import "./module";
@import "./ui-button";

// body {
//   &::before {
//     // Attribute (속성, 특성)
//     content: attr(속성이름);
//   }
// }

/* app 클래스 모듈 */
.app {
  width: 1100px;
  margin: 0 auto;
  // 대제목은 app 모듈 내부에 반드시 존재해야 함!
  h1 {
    margin-top: 0;
    font: {
      size: 2rem;
      weight: 700;
      style: italic;
      variant: small-caps;
    }
    color: #fe4940;
    letter-spacing: -0.03em;
  }
}

.row {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  .lt-ie8 & {
    zoom: 1;
  }
}

// 프린트 스타일
@import "print";


aside {
  float: left;
  width: 25%;
  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
  }
}
