a
  text-decoration: none
  color: #3fb5c8
  &:hover
    padding-bottom: 0.03em
    border-bottom: 1px dashed currentColor
  &:focus
    outline: none
    color: darken(#3fb5c8, 20%)
  // &:active
  img
    border: 0
    // vertical-align: top

