/*! common.css Â© yamoo9.net, 2016 */

/* ëª©ë¡ ì´ˆê¸°í™” ìž¬ì‚¬ìš© ê°€ëŠ¥í•œ ìŠ¤íƒ€ì¼ ëª¨ë“ˆ */
.reset-list ul,
.reset-list ol,
ul.reset-list,
ol.reset-list {
  margin-top:    0;
  margin-bottom: 0;
  padding-left:  0;
  list-style:    none;
}

/* ì´ë¯¸ì§€ í•˜ë‹¨ì˜ ê³µë°±ì„ ì œê±°í•˜ëŠ” ì†ì„± */
img {
  vertical-align: bottom;
}

/* ì´ë¯¸ì§€ í•˜ë‹¨ì— ê³µë°±ì„ í˜•ì„±í•˜ì—¬ ì˜†ìœ¼ë¡œ ë°°ì¹˜ë˜ëŠ” ê¸€ë“¤ì´ ë™ì¼í•œ ê³µê°„ì„ ê°€ì§ˆ ìˆ˜ ìžˆë„ë¡ ì„¤ì • */
.blank-bottom-img img + *,
img.blank-bottom + * {
  overflow: hidden;
}

img.flex-img {
  width: 100%;
  height: auto;
}

img.horizontal-center-img {
  margin-left: 50%;
  transform: translateX(-50%);
}

/* í´ë¦¬ì–´ í”½ìŠ¤ */
.clearfix::after,
.cf::after {
  content: '';
  display: block;
  clear: both;
}

.lt-ie8 .clearfix,
.lt-ie8 .cf {
  zoom: 1;
}

.readable-hidden {
  overflow: hidden;
  /* position: absolute; */
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
}
.readable-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip:     auto;
  width:    auto;
  height:   auto;
  margin:   0;
}