body {
  font: 200 14px/1.5 "Spoqa Han Sans", Sans-Serif;
  letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #2dbccb;
}
abbr { cursor: help; }

/* Common ----------------------------------------------------------------------------------- */
nav ul,
nav ol,
.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
nav a,
.reset-list a {
  text-decoration: none;
}

/* <a> 상태 디자인 */
nav a:link,
.reset-list a:link { color: #0d2e23; }
nav a:visited,
.reset-list a:visited { color: #0d2e23; }
nav a:hover,
.reset-list a:hover { color: #1aa375; }
nav a:active,
.reset-list a:active { background: #affbdf; }
nav a:focus,
.reset-list a:focus { background: #affbdf; outline: none; }

/* DEMO Attr List --------------------------------------------------------------------------- */
.demo-attr-list {
  width: 800px;
  margin: 30px auto;
  border-top: 1px solid #2bffd4;
  border-bottom: 1px solid #2bffd4;
  padding: 30px 0;
}

.demo-attr-list * {
  margin: 0;
}

.demo-attr-list h1 {
  margin-bottom: 10px;
}

/* External Link List ----------------------------------------------------------------------- */
.external-list {}
.external-list a[href^="http://"][target="_blank"],
.external-list a[href^="https://"][target="_blank"] {
  padding-right: 1em;
  background: url("../images/icons/external-link/External Link.svg") no-repeat right 0px;
  background-size: 13px 13px;
}

/* File Format List ------------------------------------------------------------------------- */
.file-format-list {}
.file-format-list a {padding-left: 1.5em;}
.file-format-list a[href$=".psd"]  { background: url("../images/icons/file-type-collection/svg/psd.svg") no-repeat; }
.file-format-list a[href$=".ai"]   { background: url("../images/icons/file-type-collection/svg/ai.svg") no-repeat; }
.file-format-list a[href$=".pdf"]  { background: url("../images/icons/file-type-collection/svg/pdf.svg") no-repeat; }
.file-format-list a[href$=".id"]   { background: url("../images/icons/file-type-collection/svg/indesign.svg") no-repeat; }
.file-format-list a[href$=".mp3"]  { background: url("../images/icons/file-type-collection/svg/mp3.svg") no-repeat; }
.file-format-list a[href$=".mp4"]  { background: url("../images/icons/file-type-collection/svg/mp4.svg") no-repeat; }
.file-format-list a[href$=".html"] { background: url("../images/icons/file-type-collection/svg/html.svg") no-repeat; }
.file-format-list a[href$=".css"]  { background: url("../images/icons/file-type-collection/svg/css.svg") no-repeat; }
.file-format-list a[href$=".js"]   { background: url("../images/icons/file-type-collection/svg/javascript.svg") no-repeat; }
.file-format-list a[href$=".json"] { background: url("../images/icons/file-type-collection/svg/json-file.svg") no-repeat; }

/* SNS List --------------------------------------------------------------------------------- */
.sns-list {}
.sns-list:after,
.sns-list::after {
  content: '';
  display: block;
  clear: both;
}
.sns-list li {
  float: left;
  margin-right: 5px;
}
.sns-list a {
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  text-indent: -9999em;
}
.sns-list a[href*="behance"]    { background-image: url("../images/icons/SNS/Behance.png");    }
.sns-list a[href*="blogger"]    { background-image: url("../images/icons/SNS/Blogger.png");    }
.sns-list a[href*="deviantart"] { background-image: url("../images/icons/SNS/DeviantArt.png"); }
.sns-list a[href*="dropbox"]    { background-image: url("../images/icons/SNS/Dropbox.png");    }
.sns-list a[href*="evernote"]   { background-image: url("../images/icons/SNS/Evernote.png");   }