@charset "utf-8";
/*! holzweiler.css © yamoo9.net, 2016 */

#holzweiler-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  /*background: rgba(255,255,255,0.4);*/
}


#holzweiler-go-shop {

}

#holzweiler-go-shop a {
  display: block;
}

#holzweiler-go-shop video {
  width: 100%;
}