/**
 * --------------------------------
 * Grid System
 * page-width: 1200px;
 * column-width: 80px;
 * gutter-style: split;
 * gutter-width: 10px;
 * ----------------------------- */

/* Container 모듈 */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* row 모듈 */
.row::after {
  content: '';
  display: block;
  clear: both;
}
/* column 모듈 */
[class*="col-"] {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/*.col-1 { width: percentage($column-width*$i/$page-width); }*/
.col-1 { width: 80px; }
.col-2 { width: 180px; }
.col-3 { width: 280px; }
.col-4 { width: 380px; }
.col-5 { width: 480px; }
.col-6 { width: 580px; }
.col-7 { width: 680px; }
.col-8 { width: 780px; }
.col-9 { width: 880px; }
.col-10 { width: 980px; }
.col-11 { width: 1080px; }
.col-12 { width: 1180px; }
/* push/pull 모듈 */

/* prefix/suffix 모듈 */
