.special-area::after, .row::after, .container .wrapper::after {
  content: '';
  display: block;
  clear: both; }

body {
  -webkit-transition: opacity 0.4s ease 0.3s;
  -moz-transition: opacity 0.4s ease 0.3s;
  -o-transition: opacity 0.4s ease 0.3s;
  transition: opacity 0.4s ease 0.3s;
  background: rgba(248, 96, 103, 0.7); }

.special-area {
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.lt-ie8 .row {
  zoom: 1; }

.container .wrapper {
  background-image: linear-gradient(90deg, red, green), linear-gradient(90deg, red, green), linear-gradient(90deg, red, green), linear-gradient(90deg, red, green), linear-gradient(90deg, red, green), linear-gradient(90deg, red, green); }
  .lt-ie8 .container .wrapper {
    zoom: 1; }
  .container .wrapper .col-3 {
    float: left;
    width: 22.91667%; }

.round-1 {
  width: 100px;
  height: 100px;
  background: #000;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  top: 0;
  left: 20px;
  width: 80%;
  height: 100vh; }

.round-2 {
  width: 50px;
  height: 50px;
  background: red;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16 {
  float: left; }

.col-1 {
  width: 60px; }

.col-2 {
  width: 140px; }

.col-3 {
  width: 220px; }

.col-4 {
  width: 300px; }

.col-5 {
  width: 380px; }

.col-6 {
  width: 460px; }

.col-7 {
  width: 540px; }

.col-8 {
  width: 620px; }

.col-9 {
  width: 700px; }

.col-10 {
  width: 780px; }

.col-11 {
  width: 860px; }

.col-12 {
  width: 940px; }

.col-13 {
  width: 1020px; }

.col-14 {
  width: 1100px; }

.col-15 {
  width: 1180px; }

.col-16 {
  width: 1260px; }

.icon-play {
  background-image: url("images/icons/icon-play.png"); }

.icon-pause {
  background-image: url("images/icons/icon-pause.png"); }

.icon-next {
  background-image: url("images/icons/icon-next.png"); }

.icon-previous {
  background-image: url("images/icons/icon-previous.png"); }

.icon-stop {
  background-image: url("images/icons/icon-stop.png"); }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.2rem; }
