@charset "utf-8";
/*! selectors.css © yamoo9.net, 2016 */

/* CSS 주석 */

/**
 * ------------------------
 * CSS 선택자
 * ------------------------
 * 요소 선택자 E
 * 전체 선택자 *
 * 자손 선택자 E(P) E(C)
 * 그룹핑 E,E,E
 */

/**
 * --------------------------------
 * 요소 선택자 E
 * 0001
 * ----------------------------- */
/*body{margin:0;padding:10px;}
body { margin: 0 }
body { margin: 0; }*/
body {
  /*margin: 0;*/
  /* 글자 크기 변경 */
  /*font-size: 20px;*/
  /* 고정 값(기기에 따라 다르다) px을 상대 값(em: equal M)으로 변경하고자 한다면? */
  font-size: 1.25em; /* 20px/16px = x1.25 */
}

/**
 * --------------------------------
 * 전체 선택자 *
 * ----------------------------- */
/*h3 {
  margin-top: 0;
  margin-bottom: 0;
}*/

/*body * {
  margin: 0;
}*/

/**
 * --------------------------------
 * 그룹핑 E,E,E
 * ----------------------------- */
/*
* {
  margin: 0;
}
*/

/**
 * --------------------------------
 * 요소 + 그룹핑 + 아이디 + 전체 선택자
 * CSS 선택자는 여러 유형이 조합되어 사용된다.
 * ----------------------------- */
body, #shopping2 * {
 margin: 0;
}