@charset "utf-8";
/*! selectors.css © yamoo9.net, 2016 */

/* CSS 주석 */

/**
 * ------------------------
 * CSS 선택자
 * ------------------------
 * 요소 선택자 E
 * 전체 선택자 *
 * 자손 선택자 E(P) E(C)
 * 그룹핑 E,E,E
 */

/**
 * --------------------------------
 * 요소 선택자 E
 * 0001
 * ----------------------------- */
/*body{margin:0;padding:10px;}
body { margin: 0 }
body { margin: 0; }*/
body {
  /*margin: 0;*/
  /* 글자 크기 변경 */
  /*font-size: 20px;*/
  /* 고정 값(기기에 따라 다르다) px을 상대 값(em: equal M)으로 변경하고자 한다면? */
  font-size: 1.25em; /* 20px/16px = x1.25 */
}

/**
 * --------------------------------
 * 전체 선택자 *
 * 0000
 * ----------------------------- */
/*h3 {
  margin-top: 0;
  margin-bottom: 0;
}*/

/*body * {
  margin: 0;
}*/

/**
 * --------------------------------
 * 그룹핑 E,E,E
 * ----------------------------- */
/*
* {
  margin: 0;
}
*/

/**
 * --------------------------------
 * 요소 + 그룹핑 + 아이디 + 전체 선택자
 * CSS 선택자는 여러 유형이 조합되어 사용된다.
 *
 * #아이디 선택자
 * 0100
 *
 * .클래스 선택자
 * 0010
 * ----------------------------- */
body, #shopping1 * {
 margin: 0;
}

/**
 * --------------------------------
 * 자식 선택자 E(P) > E(C)
 * > Child Combinator
 * ----------------------------- */
/* 직계 자식을 가리키는 선택자 */
#shopping1 h4 {
  color: #7045cf;
}

/**
 * ----------------------------------------------------------------
 * 클래스 선택자
 * E.class-name (디자인 컨셉[범위 제한]이 명확하지 않은 경우에는 사용을 자제)
 * .class-name (일반적인 사용되는 방법, 코드 재사용 목적)
 * .class-name1.class-name2 (멀티클래스)
 * .class-name1 .class-name2
 * ---------------------------------------------------------------- */

.btn {
  border: none;
  background-color: #000;
  color: #fff;
}
/* ※ IE 6 에서는 순서가 중요하다. */
.btn.btn-buy { color: orange; }
.btn-cancel-buy { color: lime; }

/**
 * --------------------------------
 * 인접 형제 선택자 E + E
 * ----------------------------- */

.parent ul { border: 1px solid red; }
/**
 * 인접 형제 선택자 사용시, 주의점!
 * 절대적으로 틀(프레임)이 무너지지 않아야 한다.
 */
.parent h4 + ul { border-color: lightblue; }

/**
 * --------------------------------
 * 일반 형제 선택자 E ~ E
 * --------------------------------
 * 인접 형제 선택자와의 차이점!
 * 인접 형제와 달라 인접하지 않아도 되며,
 * 인접 형제가 1개인데 반해,
 * 일반 형제는 1개 이상이 될 수 있다.
 * ----------------------------- */
#shoppingGrpTab > #shopping1 + h3 a { color: darkred; }
/*[id="shoppingGrpTab"] > [id="shopping1"] + h3 a { color: darkred; }*/
#shoppingGrpTab > #shopping1 ~ h3 a { color: #bd8d46; }

/**
 * --------------------------------
 * 속성 선택자
 * [attr]
 * [attr="value"]
 * ----------------------------- */

/* ID 선택자 = 속성 선택자로 변경 */
/*[id] { border: 4px double blue; }*/

/* class 선택자 = 속성 선택자로 변경 */
/*[class] { outline: 3px solid rgba(255,255,0,0.5); }*/

/*특정 ID 선택자를 찾고자 한다면?*/

/*#shopping3 .screen_out {}*/

#shopping3 [class$="screen_out"] {
  border: 4px solid #303030;
}