/*! grid.css @ 2017, yamoo9.net */
@import 'settings';

// Toggle Grid Module
// 브라우저 뷰에 그리드 가이드를 토글(보임/감춤)하는 스타일 모듈
// .show-grid
.#{$toggle-classname} {
  position: relative;
}
.#{$toggle-classname}::before,
.#{$toggle-classname}::after {
  content: '';
  position: absolute;
  top: 0;
  height: $guide-height;
}
.#{$toggle-classname}::before {
  // 지역 변수
  $leading-limit: $leading - 1;

  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    transparent $leading-limit,
    #0cf $leading-limit
  );
  background-size: 1px $leading;
}
.#{$toggle-classname}::after {
  $full-width: $column-width + $gutter-width;
  z-index: 10010;
  left: 50%;
  width: $page-width;
  background: linear-gradient(
    90deg,
    transparent $half-gutter-width,
    $column-color $half-gutter-width,
    $column-color $column-width + $half-gutter-width,
    transparent $column-width + $half-gutter-width
  );
  background-size: $full-width 1px;
  transform: translateX(-50%);
}

// Container Module
// 그리드 요소들을 감싸는 블록(Block)
// .container
.container {
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

// Row Module
// 컬럼을 감싸는 로우(행) 모듈
// .row
.row {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  // Nesting Row Module
  // 중첩 로우(행) 모듈
  // .row.is-nesting
  &.is-nesting {
    & > :first-child { margin-left: 0; }
    & > :last-child { margin-right: 0; }
  }
  // Isolate Row Module
  // 격리된 로우(행) 모듈 -> 컬럼에 설정
  // .is-isolate
  &.is-isolate > .col {
    margin-right: -100%;
  }
}



// Column Module
// 컬럼(열) 모듈
// .col.is-*
.col {
  float: left;
  margin-left: $half-gutter-width;
  margin-right: $half-gutter-width;
}

@for $i from 1 through $columns {
  .is-#{$i}  {
    width: column-width($i);
  }
  // Offeset Module
  // 컬럼 핸들링 모듈
  // .is-offset-*
  $offset-width: offset-width($i);
  .is-offset-#{$i} {
    margin-left: $offset-width;
    .is-nesting &:first-child {
      margin-left: $offset-width - $half-gutter-width;
    }
  }
  // Isolate Row Module
  // 격리된 로우(행) 모듈 -> 컬럼에 설정
  @if $i > 1 {
    $ii: $i - 1;
    .is-isolate > .order-#{$ii},
    .is-isolate > .o-#{$ii} {
      margin-left: order-width($ii);
    }
  }
}

// Utilities Module
// 유틸리티 모듈
// .hidden
.hidden {
  display: none;
}
// .a11y-hidden
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip:     rect(0,0,0,0);
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
  &.focusable:focus {
    overflow: visible;
    position: static;
    clip:     auto;
    width:    auto;
    height:   auto;
    margin:   0;
  }
}
caption.a11y-hidden { position: static; }
