<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>DOM API를 공부해봅시다.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/dom-api.css">
  <script src="../../LIBRARY/js/helper.js"></script>
</head>
<body>

  <div class="container">
    <header class="container-header">
      <h1 class="site-brand" lang="en">Using DOM Script</h1>
    </header>
  </div>

  <hr>

  <div class="input-field" role="group" lang="en">
    <div role="group">
      <label for="input-heading">Heading:</label>
      <input type="text" id="input-heading" placeholder="DOM Script">
    </div>
    <div role="group">
      <label for="input-language">Language:</label>
      <input type="text" id="input-language" placeholder="ko">
    </div>
    <button type="button" class="add-HTML-btn">add HTML using Template.</button>
  </div>

  <div class="demo-innerHTML"></div>

<script src="../js/dom-api.js"></script>
</body>
</html>
