<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>DOM API를 공부해봅시다.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/dom-api.css">
  <style>
    html{-webkit-font-smoothing: antialiased;text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}
    body {margin: 0;}
  </style>
  <script src="../../LIBRARY/js/helper.js"></script>
</head>
<body>

  <div class="container">
    <header class="container-header">
      <h1 class="site-brand" lang="en">Using DOM Script</h1>
    </header>
  </div>

  <hr>

  <form action="/">
    <label><input type="checkbox" checked> checkbox content</label>
  </form>

  <div class="component"></div>

  <div class="demo-innerHTML"></div>

  <!-- beforebegin -->
  <ul class="demo-matches">
    <!-- beforeend -->
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li class="demo-matches-target">list-item 06</li>
    <li>list-item 05</li>
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li class="demo-matches-target target-a"><a href="">list-item 05</a></li>
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <li>list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <li class="target-c demo-matches-target">list-item 07</li>
    <li>list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <li>list-item 07</li>
    <li class="item-beta demo-matches-target item-gamma">list-item 04</li>
    <li>list-item 06</li>
    <li>list-item 05</li>
    <!-- afterbegin -->
  </ul>
  <!-- afterend -->


  <div class="demo-insertAdjacentHTML">
    <h1>Insert Adjacent HTML</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

  <!-- before : beforebegin -->
  <!-- begin --> <div class="demo-insertAdjacentElement">
  <!-- after : afterbegin -->

  <!-- before: beforeend -->
  <!-- end --> </div>
  <!-- after : afterend -->

  <div class="demo-makeEl">
    <figure>figure</figure>
  </div>

<script src="../js/dom-api.js"></script>
<script>
  var maked_el = makeEl('div', '<strong class="important">매우 매우 강조!</strong> 하하하!');
  console.log('maked_el:', maked_el);

  var created_el;
  created_el = makeEl('article', 'Article Section', query('.demo-makeEl'), 'prepend');
  // 요소 동적 생성 후, 속성 설정 및 이벤트 연결
  created_el.setAttribute('class', 'article-section');
  created_el.onmouseenter = function() {
    this.style.cssText = 'font-weight: 800;';
  };
  created_el.onmouseleave = function() {
    this.style.cssText = '';
  };
</script>
</body>
</html>
