/// headings() 함수
/// @access  public
/// @author  yamoo9
/// @group   Helpers
/// @example scss
/// 	#{headings(2, 4)} /* 출력: h2, h3, h4 {} */
@function headings($start: all, $end: null) {
	@if $start == all {
		@return "h1, h2, h3, h4, h5, h6";
	}
	@else {
		@if type-of($start) != number {
			@error "첫번째 인자 값으로 all 또는 숫자만 적용가능합니다.";
		}

		$heading-list: "";

		@if $end == null {
			@for $i from 1 through $start {
				$heading-list: $heading-list + "h#{$i}, ";
			}
		}
		@else {
			@for $i from $start through $end {
				$heading-list: $heading-list + "h#{$i}, ";
			}
		}

		@return $heading-list;
	}
}

/// headings() 믹스인
/// @access  public
/// @author  yamoo9
/// @group   Helpers
/// @example scss
/// 	@include headings(2, 4)} {
///			/* 제목 스타일링 */
///		}
@mixin headings($start: all, $end: null) {
	#{headings($start, $end)} {
		@content;
	}
}