/// IE 6-8 대응 opacity() 믹스인
/// @access  public
/// @author  yamoo9
/// @group   Helpers
/// @example scss
/// 	.demo {
/// 		@include opacity(0.45);
/// 	}
@mixin opacity($opacity) {

	@if $ie_6_8_support {
		filter: alpha(opacity=#{$opacity * 100});
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100});
	}

	opacity: $opacity;

}
