<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>DOM API - 문서 객체 조작(Manipulation)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/dom-api.css">
  <script src="../../LIBRARY/js/helper.js"></script>
</head>
<body>

  <section
    class="section-A">
    <!--onmouseover="this.style.background = 'red';"-->
    <!--onmouseout="this.style.background = '';">-->
    <h1>Section A</h1>
    <ul>
      <li>item a</li>
      <li>item b</li>
      <li>item c</li>
      <li>item d</li>
    </ul>
  </section>
  <section class="section-B">
    <h1>Section B</h1>
    <ol>
      <li>content A</li>
      <li>content B</li>
      <li>content C</li>
      <li>content D</li>
    </ol>
  </section>

<script src="../js/dom-api.js"></script>
</body>
</html>
