@charset "UTF-8";
/*! style.css © yamoo9.net, 2016 */
#gnb ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

#gnb a {
  text-decoration: none; }

#gnb ul::after {
  content: '';
  display: block;
  clear: both; }

.lt-ie8 #gnb ul, #gnb .lt-ie8 ul {
  zoom: 1; }

html {
  font-size: 10px; }

body {
  margin: 5rem; }

#gnb li {
  float: left;
  margin-left: 1rem;
  margin-right: 1rem; }

#gnb a {
  color: #fe4940;
  font-size: 1.8rem;
  padding-top: 0.02rem;
  padding-bottom: 0.02rem; }
  #gnb a:hover, #gnb a:focus {
    border-top: 2px solid #ffc2bf;
    border-bottom: 2px solid #ffc2bf; }
  #gnb a:focus {
    outline: none;
    background: #ffedec; }
  #gnb a::before {
    content: '[ ';
    color: #fe8882; }
  #gnb a::after {
    content: ' ]';
    color: #fe8882; }

#print-area {
  margin-top: 3rem;
  border: 3px solid currentColor;
  border-radius: 4px;
  padding: 1rem 1.4rem;
  color: #d70b01;
  font-size: 2rem; }
