// * --------------------------------
// * Color List
// * --------------------------------
$light-tan       : #fbf1e3; // 2
$light-khaki     : #fbf6e4; // 4
$pale-grey       : #f6f8f8; // 5
$light-tan-two   : #faebd7; // 7
$beige           : #faeae9; // 10
$very-light-pink : #fdf8f1; // 12
$pale-grey-two   : #eadfe9; // 13
$pale-grey-three : #f2f6f5; // 15
$beige-two       : #faebea; // 18
$beige-three     : #f7dcd5; // 20
$light-khaki-two : #f8e8da; // 21
$light-tan-three : #fbf3e3; // 23

// color list map
$color-map: (
   2 : $light-tan,
   4 : $light-khaki,
   5 : $pale-grey,
   7 : $light-tan-two,
  10 : $beige,
  12 : $very-light-pink,
  13 : $pale-grey-two,
  15 : $pale-grey-three,
  18 : $beige-two,
  20 : $beige-three,
  21 : $light-khaki-two,
  23 : $light-tan-three
);

// 맵 데이터 디버깅(Debug)
// @debug map-get($color-map, 13);

// * --------------------------------
// * Icons Setting
// * --------------------------------
// 한 행에 그려질 아이콘 세트 아이템 컬럼의 개수
$item-colums: 4;

// 아이콘 이름 집합(List)
$icon-list: (
  'avocado',
  'bread',
  'burger',
  'cake',
  'cheese',
  'cocktail',
  'coffee',
  'cupcake',
  'donut',
  'fastfood',
  'fish',
  'fruits',
  'honey',
  'hot-dog',
  'ice-cream',
  'milk',
  'pizza',
  'pop-corn',
  'proteins',
  'salad',
  'sandwich',
  'soup',
  'sushi',
  'vine'
);












































