@charset "utf-8";
/**
 * ---------------------------------
 * 기본 링크 스타일
 */
a {
  text-decoration: none;
  /*padding-bottom: 2px;*/
  padding-bottom: 0.125rem;
  /*border-bottom: 1px solid;*/
  border-bottom: 0.0625rem solid;
}

/**
 * ---------------------------------
 * 배경 색상 페이드(Fade In/Out)
 * .fade-bg
 * .fade-bg.round
*/

.fade-bg {
  padding: 0.25em 0.375em;
  transition: all 0.25s;
  border-bottom: none;
}

.fade-bg.round {
  border-radius: 0.1875rem;
}

.fade-bg:hover,
.fade-bg:focus {
  background: #1c80dc;
  color: #fff;
}

.fade-bg:focus {
  /*outline: none;*/
}

/**
 * ---------------------------------
 * 전 방위 슬라이드(← → ↑ ↓)
 * .slide-from-left
 * .slide-from-right
 * .slide-from-top
 * .slide-from-bottom
 */

a[class*="slide-"] {
  overflow: hidden;
  display: inline-block;
  position: relative;
  padding: 0.06em 0.12em;
  border-bottom: none;
  vertical-align: bottom;
}

a[class*="slide-"]::after {
  content: attr(data-linktext);
  position: absolute;
  width: 100%;
  background: #1c80dc;
  color: #fff;
  transition: all 0.25s;
  text-align: center;
}

a.slide-from-left::after {
  left: -100%;
}

a.slide-from-left:hover::after,
a.slide-from-left:focus::after {
  left: 0;
}

a.slide-from-right::after {
  right: -100%;
}

a.slide-from-right:hover::after,
a.slide-from-right:focus::after {
  right: 0;
}

a.slide-from-top::after {
  top: -100%;
  left: 0;
}

a.slide-from-top:hover::after,
a.slide-from-top:focus::after {
  top: 0;
}

a.slide-from-bottom::after {
  bottom: -100%;
  left: 0;
}

a.slide-from-bottom:hover::after,
a.slide-from-bottom:focus::after {
  bottom: 0;
}

/**
 * ---------------------------------
 * 언더라인 페이드
 * .fade-underline
 */
.fade-underline {
  border-bottom: 2px solid transparent;
  /* 장면 전환: A → B, B → A */
  /* transition: 속성 지속시간 움직임유형 지연시간; */
  transition: all .25s ease;
  /* 언제 animation 사용해야 하나? */
  /* 별도의 사용자 인터랙션 없이 처음부터 움직임을 제어하려면 animation */
  /* keyframe 기반으로 애니메이션 제어를 하려면 animation */
}

.fade-underline:hover,
.fade-underline:focus {
  border-bottom-color: currentColor;
}

/**
 * ---------------------------------
 * 언더라인 슬라이드(← → ↔)
 * .underline-from-left
 * .underline-from-right
 * .underline-from-center
 */
a[class*="underline-"] {
  position: relative;
  /*overflow: hidden;*/
  /*display: inline-block;*/
  /*vertical-align: bottom;*/
  /*padding-bottom: 0;*/
  border-bottom: none;
}

a[class*="underline-"]::before {
  content: '';
  position: absolute;
  top: 100%;
  /*width: 100%;*/
  border-bottom: 2px solid currentColor;
  transition: all 0.3s;
}

a.underline-from-left::before {
  /*left: -100%;*/
  left: 0;
  right: 100%;
}

a.underline-from-left:hover::before,
a.underline-from-left:focus::before {
  /*left: 0;*/
  left: 0;
  right: 0;
}

a.underline-from-right::before {
  left: 100%;
  right: 0;
}

a.underline-from-right:hover::before,
a.underline-from-right:focus::before {
  left: 0;
  right: 0;
}

a.underline-from-center::before {
  left: 50%;
  right: 50%;
}

a.underline-from-center:hover::before,
a.underline-from-center:focus::before {
  left: 0;
  right: 0;
}