@charset "utf-8";
/**
 * ------------------------------------------
 * CSS 선형 그레디언트 그리기
 * ------------------------------------------
 * background-image: <linear-gradient>;
 *
 * <linear-gradient> 문법 정리
 * linear-gradient( 방향, 색상점1(시작) 위치(%, <length>), 색상점2, 색상점3, ..., 색상점N(끝) )
 *
 * <linear-gradient> 사용 예시
 * linear-gradient(to bottom, #b7b4ab 0%, #4b4945 100%)
 *
 * 리딩(Leading) 10px 그리기 (방향: ↓ (to bottom, 180deg) )
 * background: linear-gradient(to bottom, transparent 0%, transparent 90%, hsla(248, 99%, 71%, 0.7) 90%);
 */

body {
  margin: 0;
}

.grid-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container.show-guide {
  height: 200vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 9px, rgba(127, 108, 254, 0.7) 9px);
  background-size: 1px 10px;
}

.grid-container.show-columns {
  height: 200vh;
  background: linear-gradient(to right, transparent 10px, hsla(357, 97%, 71%, 0.55) 10px, hsla(356, 72%, 54%, 0.55) 70px, transparent 70px);
  background-size: 80px 1px;
}

.grid-container.show-all-grid {
  height: 200vh;
  background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 9px, rgba(127, 108, 254, 0.7) 9px),
      linear-gradient(to right, transparent 10px, hsla(357, 97%, 71%, 0.55) 10px, hsla(356, 72%, 54%, 0.55) 70px, transparent 70px);
  background-size: 1px 10px, 80px 1px;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.unit-1 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}
.unit-2 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}