<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>DOM + JavaScript</title>
  <link rel="stylesheet" href="../css/lecture.css">
  <script src="../js/lecture.js"></script>
</head>
<body>

  <figure class="rect"><strong>rect</strong>angle</figure>

  <figure class="circle">
    <!-- hi -->
    <!-- there -->
    <!-- everyone -->
    <strong>cir</strong>cle
  </figure>

  <!-- <form name="my-form"></form> -->

  <!-- <form name="your_form"></form> -->

</body>
</html>
