/*! grid-system-mobile-first.css © yamoo9.net, 2016 */

/**
 *  모바일을 우선(콘텐츠 중심)한 디자인에 활용할 레이아웃 모듈 제작
 *  그리드 시스템을 반영하여 각 모듈을 구성
 */

/* ------------------------------------------------------
  유연한 그리드 시스템(Flexible Grid System)
 * ------------------------------------------------------
  그리드 시스템 모듈
  - container
  - row(grid)
  - col(cell)
  - gutters | gutter-before | gutter-after
  - gutter-less(no-gutter)

  컬럼 모듈
  - col-1of2(col--1-2)
  - col-1of3(col--1-3)
  - col-2of3(col--2-3)
  - col-1of4(col--1-4)
  - col-2of4(col--2-4)
  - col-3of4(col--3-4)

  유틸리티 모듈
  - offset(prefix|suffix)
  - push|pull
  - isolate

*/

/**
 * --------------------------------
 * 모바일 퍼스트: 4 컬럼 레이아웃, IE 9+
 * 0px ~ 767px
 * ----------------------------- */
.container {
  margin-left: auto;
  margin-right: auto;
}

.container.show-grid {
  position: relative;
}
.container.show-grid::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
  background-size: 50% 1px;
}

.row::after,
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.column, .cell {
  float: left; /* (O) */
  /*display: inline-block;*/ /* (X) */
}

[dir="rtl"] .column,
[dir="rtl"] .cell {
  float: right;
}

.m1-2,
.m2-4 { width: 50%; }
.m1-3 { width: 33.3333%; }
.m2-3 { width: 66.6666%; }
.m1-4 { width: 25%; }
.m3-4 { width: 75%; }

/**
 * --------------------------------
 * 태블릿: 8 컬럼 레이아웃 모듈
 * 768px ~ 1024px
 * ----------------------------- */
@media only screen and (min-width: 768px) {

  .container.show-grid::before {
    background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
    background-size: 25% 1px;
  }

  .t1-2,
  .t2-4,
  .t3-6,
  .t4-8 { width: 50%; }
  .t1-3,
  .t2-6 { width: 33.3333%; }
  .t2-3,
  .t4-6 { width: 66.6666%; }
  .t1-4,
  .t2-8 { width: 25%; }
  .t3-4,
  .t6-8 { width: 75%; }
  .t1-5 { width: 20%; }
  .t2-5 { width: 40%; }
  .t3-5 { width: 60%; }
  .t4-5 { width: 80%; }
  .t1-6 { width: 16.6666%; }
  .t5-6 { width: 83.3333%; }
  .t1-7 { width: 14.2857%; }
  .t2-7 { width: 28.5714%; }
  .t3-7 { width: 42.8571%; }
  .t4-7 { width: 57.1428%; }
  .t5-7 { width: 71.4285%; }
  .t6-7 { width: 85.7142%; }
  .t1-8 { width: 12.5%; }
  .t3-8 { width: 37.5%; }
  .t5-8 { width: 62.5%; }
  .t7-8 { width: 87.5%; }
}