/*! grid-system-mobile-first.css © yamoo9.net, 2016 */

/**
 * --------------------------------
 * 모바일 퍼스트: 4 컬럼 레이아웃, IE 9+
 * 0px ~ 767px
 * ----------------------------- */
.container {
  margin-left: auto;
  margin-right: auto;
}

.container.show-grid {
  position: relative;
}
.container.show-grid::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
  background-size: 50% 1px;
}
.container.show-grid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  background: linear-gradient(transparent 9px, #3b1519 9px);
  background-size: 1px 10px;
}

.row::after,
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.column, .cell {
  box-sizing: border-box;
  float: left;
}

[dir="rtl"] .column,
[dir="rtl"] .cell {
  float: right;
}

.m1     { width: 25%;  }
.m2     { width: 50%;  }
.m3     { width: 75%;  }
.m-full { width: 100%; }

/**
 * --------------------------------
 * 태블릿: 8 컬럼 레이아웃 모듈
 * 768px ~ 1024px
 * ----------------------------- */
@media only screen and (min-width: 768px) {

  .container.show-grid::before {
    background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
    background-size: 25% 1px;
  }

  .t1     { width: 12.5%; }
  .t2     { width: 25%;   }
  .t3     { width: 37.5%; }
  .t4     { width: 50%;   }
  .t5     { width: 62.5%; }
  .t6     { width: 75%;   }
  .t7     { width: 87.5%; }
  .t-full { width: 100%;  }

}

/**
 * --------------------------------
 * 태블릿: 8 컬럼 레이아웃 모듈
 * 1025px ~
 * ----------------------------- */
@media only screen and (min-width: 1025px) {

  .container.show-grid::before {
    background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
    background-size: 16.6666% 1px;
  }

  .d1     { width: 8.3333%;  }
  .d2     { width: 16.6666%; }
  .d3     { width: 25%;      }
  .d4     { width: 33.3333%; }
  .d5     { width: 41.6666%; }
  .d6     { width: 50%;      }
  .d7     { width: 58.3333%; }
  .d8     { width: 66.6666%; }
  .d9     { width: 75%;      }
  .d10    { width: 83.3333%; }
  .d11    { width: 91.6666%; }
  .d-full { width: 100%;     }

}