/*! grid-system-mobile-first.css © yamoo9.net, 2016 */

/**
 * --------------------------------
 * 모바일 퍼스트: 4 컬럼 레이아웃, IE 9+
 * 0px ~ 767px
 * ----------------------------- */
.container {
  margin-left: auto;
  margin-right: auto;
}

.container.show-grid {
  position: relative;
}
.container.show-grid::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
  background-size: 50% 1px;
}
.container.show-grid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  background: linear-gradient(transparent 9px, #3b1519 9px);
  background-size: 1px 10px;
}

.row::after,
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.column, .cell {
  box-sizing: border-box;
  float: left;
}

[dir="rtl"] .column,
[dir="rtl"] .cell {
  float: right;
}

/*
거터(gutter)의 종류 (padding)
거터가 없는 경우 .gutter-less
거터가 양쪽에 있는 경우 .gutters
거터가 앞쪽에 있는 경우 .gutter-before
거터가 뒷쪽에 있는 경우 .gutter-after

거터 일괄(개별) 제어
*/

.row.gutters .column,
.grid.gutters .column,
.row .column.gutters {
  padding-left: 1em;
  padding-right: 1em;
  /*background-clip: content-box;*/
}

.row.gutter-before .column,
.grid.gutter-before .column,
.row .column.gutter-before {
  padding-left: 2em;
}

.row.gutter-before .column:first-child,
.grid.gutter-before .column:first-child {
  padding-left: 0;
}

.row.gutter-after .column,
.grid.gutter-after .column,
.row .column.gutter-after {
  padding-right: 2em;
}

.row.gutter-after .column:last-child,
.grid.gutter-after .column:last-child {
  padding-right: 0;
}

/* 유틸리티 모듈 */

/* 공통 동작 */
.column[class*="-push-"],
.column[class*="-pull-"] {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .m-1     { width: 25%;  }
  .m-2     { width: 50%;  }
  .m-3     { width: 75%;  }
  .m-full  { width: 100%; }

  /* 중단점 설계 마다 독립적으로 동작 */
  .m-prefix-1 { margin-left: 25%;  }
  .m-prefix-2 { margin-left: 50%;  }
  .m-prefix-3 { margin-left: 75%;  }

  .m-suffix-1 { margin-right: 25%;  }
  .m-suffix-2 { margin-right: 50%;  }
  .m-suffix-3 { margin-right: 75%;  }

  .m-push-1 { left: 25%;  }
  .m-push-2 { left: 50%;  }
  .m-push-3 { left: 75%;  }

  .m-pull-1 { right: 25%;  }
  .m-pull-2 { right: 50%;  }
  .m-pull-3 { right: 75%;  }

  .m-hidden { display: none; }
}

/**
 * --------------------------------
 * 태블릿: 8 컬럼 레이아웃 모듈
 * 768px ~ 1024px
 * ----------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .container.adaptive {
    width: 768px;
  }

  .container.show-grid::before {
    background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
    background-size: 25% 1px;
  }

  .t-1     { width: 12.5%; }
  .t-2     { width: 25%;   }
  .t-3     { width: 37.5%; }
  .t-4     { width: 50%;   }
  .t-5     { width: 62.5%; }
  .t-6     { width: 75%;   }
  .t-7     { width: 87.5%; }
  .t-full  { width: 100%;  }

  .t-prefix-1     { margin-left: 12.5%; }
  .t-prefix-2     { margin-left: 25%;   }
  .t-prefix-3     { margin-left: 37.5%; }
  .t-prefix-4     { margin-left: 50%;   }
  .t-prefix-5     { margin-left: 62.5%; }
  .t-prefix-6     { margin-left: 75%;   }
  .t-prefix-7     { margin-left: 87.5%; }

  .t-suffix-1     { margin-right: 12.5%; }
  .t-suffix-2     { margin-right: 25%;   }
  .t-suffix-3     { margin-right: 37.5%; }
  .t-suffix-4     { margin-right: 50%;   }
  .t-suffix-5     { margin-right: 62.5%; }
  .t-suffix-6     { margin-right: 75%;   }
  .t-suffix-7     { margin-right: 87.5%; }

  .t-push-1     { left: 12.5%; }
  .t-push-2     { left: 25%;   }
  .t-push-3     { left: 37.5%; }
  .t-push-4     { left: 50%;   }
  .t-push-5     { left: 62.5%; }
  .t-push-6     { left: 75%;   }
  .t-push-7     { left: 87.5%; }

  .t-pull-1     { right: 12.5%; }
  .t-pull-2     { right: 25%;   }
  .t-pull-3     { right: 37.5%; }
  .t-pull-4     { right: 50%;   }
  .t-pull-5     { right: 62.5%; }
  .t-pull-6     { right: 75%;   }
  .t-pull-7     { right: 87.5%; }

  .t-hidden { display: none; }

}

/**
 * --------------------------------
 * 데스크탑: 12 컬럼 레이아웃 모듈
 * 1025px ~
 * ----------------------------- */
@media only screen and (min-width: 1025px) {

  .container.adaptive {
    width: 1025px;
  }

  .container.show-grid::before {
    background: linear-gradient(90deg, hsla(357, 97%, 86%, 0.45) 50%, hsla(356, 95%, 68%, 0.45) 50%);
    background-size: 16.6666% 1px;
  }

  .d-1     { width: 8.3333%;  }
  .d-2     { width: 16.6666%; }
  .d-3     { width: 25%;      }
  .d-4     { width: 33.3333%; }
  .d-5     { width: 41.6666%; }
  .d-6     { width: 50%;      }
  .d-7     { width: 58.3333%; }
  .d-8     { width: 66.6666%; }
  .d-9     { width: 75%;      }
  .d-10    { width: 83.3333%; }
  .d-11    { width: 91.6666%; }
  .d-full  { width: 100%;     }

  .d-prefix-1     { margin-left: 8.3333%;  }
  .d-prefix-2     { margin-left: 16.6666%; }
  .d-prefix-3     { margin-left: 25%;      }
  .d-prefix-4     { margin-left: 33.3333%; }
  .d-prefix-5     { margin-left: 41.6666%; }
  .d-prefix-6     { margin-left: 50%;      }
  .d-prefix-7     { margin-left: 58.3333%; }
  .d-prefix-8     { margin-left: 66.6666%; }
  .d-prefix-9     { margin-left: 75%;      }
  .d-prefix-10    { margin-left: 83.3333%; }
  .d-prefix-11    { margin-left: 91.6666%; }

  .d-suffix-1     { margin-right: 8.3333%;  }
  .d-suffix-2     { margin-right: 16.6666%; }
  .d-suffix-3     { margin-right: 25%;      }
  .d-suffix-4     { margin-right: 33.3333%; }
  .d-suffix-5     { margin-right: 41.6666%; }
  .d-suffix-6     { margin-right: 50%;      }
  .d-suffix-7     { margin-right: 58.3333%; }
  .d-suffix-8     { margin-right: 66.6666%; }
  .d-suffix-9     { margin-right: 75%;      }
  .d-suffix-10    { margin-right: 83.3333%; }
  .d-suffix-11    { margin-right: 91.6666%; }

  .d-push-1     { left: 8.3333%;  }
  .d-push-2     { left: 16.6666%; }
  .d-push-3     { left: 25%;      }
  .d-push-4     { left: 33.3333%; }
  .d-push-5     { left: 41.6666%; }
  .d-push-6     { left: 50%;      }
  .d-push-7     { left: 58.3333%; }
  .d-push-8     { left: 66.6666%; }
  .d-push-9     { left: 75%;      }
  .d-push-10    { left: 83.3333%; }
  .d-push-11    { left: 91.6666%; }

  .d-pull-1     { right: 8.3333%;  }
  .d-pull-2     { right: 16.6666%; }
  .d-pull-3     { right: 25%;      }
  .d-pull-4     { right: 33.3333%; }
  .d-pull-5     { right: 41.6666%; }
  .d-pull-6     { right: 50%;      }
  .d-pull-7     { right: 58.3333%; }
  .d-pull-8     { right: 66.6666%; }
  .d-pull-9     { right: 75%;      }
  .d-pull-10    { right: 83.3333%; }
  .d-pull-11    { right: 91.6666%; }

  .d-hidden { display: none; }

}