/*! rwd.css © yamoo9.net, 2016 */

/**
* ----------------------------------------------------------------
* 유연한 이미지
* ----------------------------------------------------------------
* RWD Image
* Content Image
* Background Image
* ---------------------------------------------------------------- */

.rwd-img {
  width: 100%;
  height: auto;
}

.rwd-crop-bg {
  width: 100%;
  height: 0;
  background-size: cover;
}

.rwd-crop-container {
  position: relative;
  height: 100px; /* default value */
}

.rwd-crop-container img {
  position: absolute;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
}