body {
  margin: 0;
}
.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #7e7e7e, #363636);
}
.album {
  position: relative;
  height: 244px;
  width: 320px;
}
.album * {
  position: absolute;
}
.album-cover {
  z-index: 100;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, .85);
}
.album-vinyl {
  z-index: 10;
  animation: moveVinyl 1s ease-out 0.3s forwards;
}
.album-disk {
  animation: moveDisk 1s ease-out 1.2s forwards, rotation 2.2s linear infinite;
}
@keyframes moveVinyl {
  0% {
    left: 0;
  }
  100% {
    left: 220px;
  }
}
@keyframes moveDisk {
  0% {
    left: 0;
  }
  100% {
    left: 80px;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}