/**
 * --------------------------------
 * Overlay Grid Guideline Module
 * ----------------------------- */
.grid-container::before {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
}
.grid-container[class*="show-grid"]::before {
  height: 500vh;
}
.grid-container.show-grid::before {
  background: linear-gradient(90deg, rgba(191, 64, 64, 0.3) 81%, rgba(0, 0, 0, 0) 81%), linear-gradient(transparent 26px, #26923f 26px);
  background-size: 12.8% 1px, 1px 27px;
}

/**
 * --------------------------------
 * Grid Container Module
 * ----------------------------- */
.grid-container {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * --------------------------------
 * Grid Module
 * ----------------------------- */
.grid::after {
  content: '';
  display: block;
  clear: both;
}

/**
 * --------------------------------
 * Unit Module
 * ----------------------------- */
.grid [class*="unit-"] {
  float: left;
  margin-right: 2.4%;
}
.grid .last, .grid .omega { margin-right: 0; }
.grid .unit-1 { width: 10.4%; }
.grid .unit-2 { width: 23.2%; }
.grid .unit-3 { width: 36%; }
.grid .unit-4 { width: 48.8%; }
.grid .unit-5 { width: 61.6%; }
.grid .unit-6 { width: 74.4%; }
.grid .unit-7 { width: 87.2%; }
.grid .unit-8 { width: 100%; }

/**
 * --------------------------------
 * Push, Pull Module
 * ----------------------------- */
.grid [class*="push-"], .grid [class*="pull-"] { position: relative; }
.grid .push-1 { left: 12.8%; }
.grid .push-2 { left: 25.6%; }
.grid .push-3 { left: 38.4%; }
.grid .push-4 { left: 51.2%; }
.grid .push-5 { left: 64%; }
.grid .push-6 { left: 76.8%; }
.grid .push-7 { left: 89.6%; }
.grid .push-8 { left: 102.4%; }
.grid .pull-1 { right: 12.8%; }
.grid .pull-2 { right: 25.6%; }
.grid .pull-3 { right: 38.4%; }
.grid .pull-4 { right: 51.2%; }
.grid .pull-5 { right: 64%; }
.grid .pull-6 { right: 76.8%; }
.grid .pull-7 { right: 89.6%; }
.grid .pull-8 { right: 102.4%; }

/**
 * --------------------------------
 * Prefix, Suffix Module
 * margin
 * padding
 * ----------------------------- */
.grid .prefix-1 { margin-left: 12.8%; }
.grid .prefix-2 { margin-left: 25.6%; }
.grid .prefix-3 { margin-left: 38.4%; }
.grid .prefix-4 { margin-left: 51.2%; }
.grid .prefix-5 { margin-left: 64%; }
.grid .prefix-6 { margin-left: 76.8%; }
.grid .prefix-7 { margin-left: 89.6%; }
.grid .prefix-8 { margin-left: 102.4%; }

.grid .suffix-1 { margin-right: 15.2%; }
.grid .suffix-2 { margin-right: 28%; }
.grid .suffix-3 { margin-right: 40.8%; }
.grid .suffix-4 { margin-right: 53.6%; }
.grid .suffix-5 { margin-right: 66.4%; }
.grid .suffix-6 { margin-right: 79.2%; }
.grid .suffix-7 { margin-right: 92%; }
.grid .suffix-8 { margin-right: 104.8%; }

.grid .padding-prefix-1 { padding-left: 12.8%; }
.grid .padding-prefix-2 { padding-left: 25.6%; }
.grid .padding-prefix-3 { padding-left: 38.4%; }
.grid .padding-prefix-4 { padding-left: 51.2%; }
.grid .padding-prefix-5 { padding-left: 64%; }
.grid .padding-prefix-6 { padding-left: 76.8%; }
.grid .padding-prefix-7 { padding-left: 89.6%; }
.grid .padding-prefix-8 { padding-left: 102.4%; }

.grid .padding-suffix-1 { padding-right: 12.8%; }
.grid .padding-suffix-2 { padding-right: 25.6%; }
.grid .padding-suffix-3 { padding-right: 38.4%; }
.grid .padding-suffix-4 { padding-right: 51.2%; }
.grid .padding-suffix-5 { padding-right: 64%; }
.grid .padding-suffix-6 { padding-right: 76.8%; }
.grid .padding-suffix-7 { padding-right: 89.6%; }
.grid .padding-suffix-8 { padding-right: 102.4%; }