@charset "utf-8";
/*! grid-responsive.css © yamoo9.net, 2016 */

/* MOBILE FIRST ---------------------------------------- */
.container::after {
  content: '';
  display: block;
  clear: both;
}

[class*="unit-"] {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.gutter {
  padding-left: 1em;
  padding-right: 1em;
}

.unit-s-1   { width: 100%; }
.unit-s-1-2 { width: 50%; }
.unit-s-1-3 { width: 33.3333%; }
.unit-s-2-3 { width: 66.6667%; }

/* TABLET ---------------------------------------- */
@media (min-width: 600px) {
  .unit-m-1   { width: 100%; }
  .unit-m-1-2 { width: 50%; }
  .unit-m-1-3 { width: 33.3333%; }
  .unit-m-2-3 { width: 66.6667%; }
}

/* DESKTOP ---------------------------------------- */
@media (min-width: 900px) {
  .unit-l-1   { width: 100%; }
  .unit-l-1-2 { width: 50%; }
  .unit-l-1-3 { width: 33.3333%; }
  .unit-l-2-3 { width: 66.6667%; }
}
