/*! grid-system(Static).css © yamoo9.net, 2016 */
/**
 * --------------------------------
 * 그리드 컨테이너 모듈
 * ----------------------------- */

body.overlay-grid::after {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 50%;
  min-height: 100vh;
  transform: translateX(-50%);
}

body.overlay-grid::after,
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

body.overlay-grid::after,
.container.show-grid,
.container.hover-hide-grid {
  background: url("./images/GS-pattern-10-60-10.png");
}

.container.hover-hide-grid:hover {
  background: none;
}

/**
 * --------------------------------
 * 그리드 로우(Row) 모듈
 * ※ clearfix 유사
 * ----------------------------- */
.row::after {
  content: '';
  display: block;
  clear: both;
}

/**
 * --------------------------------
 * 그리드 컬럼(Column) 모듈
 * ----------------------------- */
 [class*="col-"]{
   float: left;
   margin-left: 10px;
   margin-right: 10px;
 }

 .col-1  { width: 60px;  }  /* 계산식: 60*1+(20*(1-1))px   */
 .col-2  { width: 140px; }  /* 계산식: 60*2+(20*(2-1))px   */
 .col-3  { width: 220px; }  /* 계산식: 60*3+(20*(3-1))px   */
 .col-4  { width: 300px; }  /* 계산식: 60*4+(20*(4-1))px   */
 .col-5  { width: 380px; }  /* 계산식: 60*5+(20*(5-1))px   */
 .col-6  { width: 460px; }  /* 계산식: 60*6+(20*(6-1))px   */
 .col-7  { width: 540px; }  /* 계산식: 60*7+(20*(7-1))px   */
 .col-8  { width: 620px; }  /* 계산식: 60*8+(20*(8-1))px   */
 .col-9  { width: 700px; }  /* 계산식: 60*9+(20*(9-1))px   */
 .col-10 { width: 780px; }  /* 계산식: 60*10+(20*(10-1))px */
 .col-11 { width: 860px; }  /* 계산식: 60*11+(20*(11-1))px */
 .col-12 { width: 940px; }  /* 계산식: 60*12+(20*(12-1))px */