/*! grid-system(Static).css © yamoo9.net, 2016 */
/**
 * --------------------------------
 * 그리드 컨테이너 모듈
 * ----------------------------- */

body.overlay-grid::after {
  content: '';
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 50%;
  min-height: 100vh;
  transform: translateX(-50%);
}

body.overlay-grid::after,
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

body.overlay-grid::after,
.container.show-grid,
.container.hover-hide-grid {
  background: url("./images/GS-pattern-10-60-10.png");
}

.container.hover-hide-grid:hover {
  background: none;
}

/**
 * --------------------------------
 * 그리드 로우(Row) 모듈
 * ※ clearfix 유사
 * ----------------------------- */
.row::after {
  content: '';
  display: block;
  clear: both;
}

/**
 * --------------------------------
 * 그리드 컬럼(Column) 모듈
 * ----------------------------- */
 [class*="col-"]{
   float: left;
   margin-left: 10px;
   margin-right: 10px;
 }

 .col-1  { width: 60px;  }
 .col-2  { width: 140px; }
 .col-3  { width: 220px; }
 .col-4  { width: 300px; }
 .col-5  { width: 380px; }
 .col-6  { width: 460px; }
 .col-7  { width: 540px; }
 .col-8  { width: 620px; }
 .col-9  { width: 700px; }
 .col-10 { width: 780px; }
 .col-11 { width: 860px; }
 .col-12 { width: 940px; }