/*! init.css @ 2017, yamoo9.net */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}