html {
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.4rem;
    /* 14px */
    line-height: 1.5;
    /* 21px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

%a11y-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
    padding: 0;
    margin: -1px;
}