body {
  margin: 2.5rem 6.25rem;
  font-size: 0.875rem;
  font-family: "YouandiModernTR";
  line-height: 1.4;
  letter-spacing: -0.02em; }

#go-to-point {
  font-size: 0.75rem; }
  #go-to-point a {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    border-radius: 0.25rem;
    padding: 0.6em;
    background: #181814;
    color: #fff;
    text-decoration: none; }
    #go-to-point a:first-child {
      margin-left: 0; }

[id^="point-"] {
  border-bottom: 0.1875rem solid #734cc4;
  padding-bottom: 3em;
  color: #3b344b;
  text-align: justify; }
  [id^="point-"] h2 {
    family: "YouandiModernTB";
    font-size: 2rem; }
    [id^="point-"] h2::before {
      display: block;
      content: '';
      width: 0.0625rem;
      height: 1.25rem;
      background: #6433c6;
      transform: rotate(-45deg) translateX(-10px); }
