// http://font.iropke.com/batang/
@font-face {
  font-family: 'Iropke Batang';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/iropke/IropkeBatangM.eot);
  src: url(../fonts/iropke/IropkeBatangM.eot?#iefix) format("embedded-opentype"),
       url(../fonts/iropke/IropkeBatangM.woff) format("woff"),
       url(../fonts/iropke/IropkeBatangM.ttf) format("truetype");
}
