// * --------------------------------
// * 환경 설정
// * --------------------------------
$app-width: 1400px;
// 변수 이름의 _, - 모두 동일하게 처리된다.
$app-min_height: 60px;

// * --------------------------------
// * 브레이크포인트(중단점) 설계
$bp-prop: min-width;
$bp-md: 760px;
$bp-lg: 1220px;
$bp-xl: 1480px;
