<!DOCTYPE html>
<!--[if !IE]><!-->
<html class="no-js" dir="ltr" lang="ko-KR" data-ng-app="BipanListApp"><!--<![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 ie9" dir="ltr" lang="ko-KR" data-ng-app="BipanListApp"> <![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>Bipan ListApp using Angular v1.x</title>
  <link rel="stylesheet" href="./css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Bootswatch Theme: [flatly, slate, lumen, sandstone, spacelab] -->
  <link rel="stylesheet" href="http://bootswatch.com/slate/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
</head>
<body>

  <div class="app" data-ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bipan People List</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-8" data-ng-controller="ListController">
          <form class="bipan-search form-inline">
            <div class="form-group">
              <span class="glyphicon glyphicon-search" aria-label="Search"></span>
              <label for="search-everything">Everything</label>
              <input
                data-ng-model="search"
                type="text"
                class="input-sm form-control"
                id="search-everything"
                placeholder="Search Person Info.">
            </div>
            <div class="form-group">
              <select class="input-sm form-control" data-ng-model="order">
                <option value="name">Name (ASC)</option>
                <option value="-name">Name (DESC)</option>
                <option value="country">Country (ASC)</option>
                <option value="-country">Country (DESC)</option>
                <option value="birthdate">Birthdate (ASC)</option>
                <option value="-birthdate">Birthdate (DESC)</option>
                <option value="city">City (ASC)</option>
                <option value="-city">City (DESC)</option>
              </select>
            </div>
          </form>
          <div
            class="bipan-table-container">
            <table
              data-infinite-scroll="loadMore()"
              data-infinite-scroll-distance="1"
              class="bipan-table table table-striped">
              <caption>Bipan People List</caption>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Photo</th>
                <th scope="col">Name
                  <div role="group" class="sort-title btn-group btn-group-xs">
                    <button
                      data-ng-click="order='name'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet" aria-label="Ascending Name"></button>
                    <button
                      data-ng-click="order='-name'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Name"></button>
                  </div>
                </th>
                <th scope="col">Country
                  <div role="group" class="sort-category btn-group btn-group-xs">
                    <button
                      data-ng-click="order='country'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet" aria-label="Ascending Country"></button>
                    <button
                      data-ng-click="order='-country'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Country"></button>
                  </div>
                </th>
                <th scope="col">Birthdate
                  <div role="group" class="sort-year btn-group btn-group-xs">
                    <button
                      data-ng-click="order='birthdate'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet" aria-label="Ascending Birthdate"></button>
                    <button
                      data-ng-click="order='-birthdate'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending Birthdate"></button>
                  </div>
                </th>
                <th scope="col">City
                  <div role="group" class="sort-director btn-group btn-group-xs">
                    <button
                      data-ng-click="order='city'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet" aria-label="Ascending City"></button>
                    <button
                      data-ng-click="order='-city'"
                      type="button"
                      class="btn btn-default glyphicon glyphicon-sort-by-alphabet-alt" aria-label="Descending City"></button>
                  </div>
                </th>
              </tr>
              <!-- 클라이언트 사이드 검색/정렬 -->
              <!-- <tr
                data-ng-repeat="person in filteredPeople=(share_data.people | filter:search | orderBy:order)"
                data-ng-class="{'warning': person.city === share_data.selected_person.city}"
                data-ng-click="selectPerson(person)"
                > -->
              <!-- 서버 사이드 검색/정렬 -->
              <tr
                data-ng-repeat="person in share_data.people"
                data-ng-class="{'warning': person.city === share_data.selected_person.city}"
                data-ng-click="selectPerson(person)"
                >
                <td>{{$index + 1 | readingZero}}</td>
                <td>
                  <img
                    src="//yamoo9.net/blank1x1.gif"
                    data-ng-src="{{person.photo}}"
                    alt="{{person.name}}"
                    title="{{person.name}}">
                </td>
                <td>{{person.name}}</td>
                <td>{{person.country}}</td>
                <td>{{person.birthdate | date:'longDate'}}</td>
                <td>{{person.city}}</td>
              </tr>
              <!-- 클라이언트 사이드 검색/정렬 -->
              <!-- <tr data-ng-show="filteredPeople.length === 0"> -->
              <!-- 서버 사이드 검색/정렬 -->
              <tr data-ng-show="share_data.people.length === 0 && !share_data.is_loading">
                <td colspan="6">
                  <div class="alert alert-warning" role="alert">
                    <p class="text-center">'{{search}}'와 일치하는 사람 정보를 찾을 수 없습니다.</p>
                  </div>
                </td>
              </tr>
            </table>
            <div class="spinner" data-ng-show="share_data.is_loading">
              <span data-us-spinner data-spinner-theme="white-spinner"></span>
              <p>Loading....</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4" data-ng-controller="DetailController">
          <div class="bipan-detail-panel panel panel-default">
            <div class="panel-heading">Person Detail View</div>
            <div class="panel-body">
              <dl>
                <dt>COUNTRY</dt>
                <dd>{{share_data.selected_person.country}}</dd>
                <dt>NAME</dt>
                <dd>{{share_data.selected_person.name}}</dd>
                <dt>ADDRESS</dt>
                <dd>{{share_data.selected_person.address}}</dd>
                <dt>CITY</dt>
                <dd>{{share_data.selected_person.city}}</dd>
                <dt>BIRTHDATE</dt>
                <dd>{{share_data.selected_person.birthdate}}</dd>
                <dt>EMAIL</dt>
                <dd>{{share_data.selected_person.email}}</dd>
                <dt>SEX</dt>
                <dd>{{share_data.selected_person.sex}}</dd>
                <dt>PHOTO</dt>
                <dd>
                  <img src="//yamoo9.net/blank1x1.gif" data-ng-src="{{share_data.selected_person.photo}}" alt="{{share_data.selected_person.name}}">
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="js/main.bundle.js"></script>
</body>
</html>
