.page.container {
  min-width: 960px;
  max-width: 1380px;
}

.page {
  padding-top: 30px;
}

.page p {
  margin-top: 0;
}

.page .banner {
  background: url("https://img1.beachbodyimages.com/beachbody/image/upload/f_auto,q_auto/v1409762611/beachbodyblog/Beachbody-Blog-Pumpkin-Spice-Latte.jpg") no-repeat center top;
  padding-bottom: 50%;
  padding-bottom: calc(350/700*100%);
}

.page .cropping-demo {
  overflow: hidden;
}

.page .cropping-demo img {
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s cubic-bezier(0.33, -0.33, 0.65, 1.29);
}

.page .cropping-demo img:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

/*
 * 배경이미지와 마찬가지로 width 폭을 모를 경우,
 * height를 고정적으로 명시할 수 없어 반응형 이미지에
 * 적용되는 기술을 사용할 수 없다.
 *
 * 반응형 배경이미지에 적용되어 사용되었던 기술을 활용
 * height: 0;
 * padding-bottom: target/context * 100%;
 */
/*.page .rwd-iframe {
  border: 0;
  width: 100%;
  height: auto;
}*/

/* 문제해결을 위한 솔루션 반응형 iframe */
.rwd-iframe-container {
  overflow: hidden;
  position: relative;
  min-width: 100%;
  height: 0;
  /*
   * 4:3 = 75%
   * 16:9 = 56.25%
   * 21:9 = 42.857142857%
   */
  padding-bottom: 56.25%;
  background: #000;
}
.rwd-iframe-container.ratio-4-3 {
  padding-bottom: 75%;
}
.rwd-iframe-container.ratio-21-9 {
  padding-bottom: 42.857142857%;
}

.rwd-iframe-container iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-grid::before {
  height: 3000px;
}