/*! 03-page-align-center.css © yamoo9.net, 2016 */

/**
 * --------------------------------
 * .page
 * ----------------------------- */
.page {
  /*width: 50vw;*/ /* viewport width */
  /*width: auto;*/
  /*height: 100vh;*/ /* vh? = viewport height */
  width: 500px;
  height: 333px;
  line-height: 333px;
  margin: 100px auto;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  background: #7045cf;
}

.print-class-attr::before {
  display: block;
  content: attr(data-name);
  color: #fff;
  font-size: 1.375rem;
}

/**
 * --------------------------------
 * .inner-page
 * ----------------------------- */
.inner-page {
  width: 250px;
  height: 111px;
  padding-top: inherit;
  padding-left: inherit;
  background: #f3a647;
}